body {font-family: Arial, Helvetica, sans-serif;}

/* Campo Inputs */
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#gradoId{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#nivelId{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#anioAcademico{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h2{
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -215px;
    width: 700px;
    height: 100px;
}

h1{
    width: 700px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Stylo botones */
button {
    background-color: white;
    color: #009688;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #009688;
    cursor: pointer;
    width: 100
  }

#btnlogin{
    position: absolute;
    background-color: white;
    color: #009688;
    top: 60%;
    left: 50%;
    border: 2px solid #009688;
    margin-top: -50px;
    margin-left: -50px;
    width: 100;
    cursor: pointer;
}

#btncrear{
    background-color: white;
    color: #009688;
    border: 2px solid #009688;
    width: 100;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* Stilo Boton cancelar */
.cancelbtn {
    width: 100;
    background-color: white;
    color: red;
    border: 2px solid #f44336;
    cursor: pointer;
}

/* Boton cerra (ELIMINADO) */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Fondo Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* ContentBox*/
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Animacion Zoom */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Style Span */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
